services:
  snowflake-dashboard:
    container_name: snowflake-dashboard
    image: snowflake-dashboard:latest
    restart: unless-stopped
    network_mode: host
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    depends_on:
      - snowflake-proxy

  snowflake-proxy:
    container_name: snowflake-proxy
    image: containers.torproject.org/tpo/anti-censorship/pluggable-transports/snowflake:latest
    restart: unless-stopped
    network_mode: host
    command: ["-metrics", "-metrics-address", "0.0.0.0", "-metrics-port", "9999"]
